<div class="fluid-container">
  <div class="container">
    <div class="row pt-5 pb-5 mb-5 fade">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <h1>About us</h1>
        <p>The purpose of this website is merely an university project. All content on this website is merely for educational purposes and should not be taken serious.</p>
        <p>
        All products contained on this website have been taken from popular websites such as:
          <ul>
            <li>Amazon</li>
            <li>Ebay</li>
            <li>Olx</li>
            <li>Newegg</li>
            <li>Target</li>
            <li>AliExpress</li>
            <li>BestBuy</li>
            <li>iBuyPower</li>
          </ul>
        </p>
        <p class="p-0 m-0">Main Programmer: Zijah Ribic</p>
        <p class="p-0 m-0">Main Designer: Bekir Akeljic</p>
        <p class="p-0 m-0">Main Copywriter: Nedim Malicbegovic</p>
        <p class="p-0 m-0">Additional Programmers: Bekir Akeljic and Nedim Malicbegovic</p>
        <p class="p-0 m-0">Additional Designers: Zijah Ribic and Nedim Malicbegovic</p>
        <p class="p-0 m-0">Additional Copywriters: Zijah Ribic and Bekir Akeljic</p>
        <p>
        <br>
          <span class="contact-info">Contact Information</span><br>
        </p>
        <div class="information-holder">
          Zijah Ribic<br>
          Phone: +387603160325<br>
          Mail: ribiczijah@gmail.com<br> 
          <br>
          Bekir Akeljic<br>
          Phone: +387603116809<br>
          Mail: bekir.akeljic@gmail.com<br> 
          <br>
          Nedim Malicbegovic<br>
          Phone: +387644320348<br>
          Mail: nedimlav@gmail.com<br> 
          <br>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 pt-1">
        <div class="row pt-4 pb-3 about-us-frame">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <img class="about-featured-picture text-center" src="https://s3.eu-west-2.amazonaws.com/it-shop-travnik/default/zijah.jpg"/>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <img class="about-featured-picture text-center" src="https://s3.eu-west-2.amazonaws.com/it-shop-travnik/default/nedim.jpg"/>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3"></div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <img class="about-featured-picture text-center" src="https://s3.eu-west-2.amazonaws.com/it-shop-travnik/default/bekir.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>