<div class="fluid-container">
  <div class="container">
    <div class="error-holder text-center">
      <h1 class="error-text-title">404</h1>
      <p class="error-text">Something went wrong. Please try again in a minute</p>
    </div>
  </div>
</div>