<div class="fluid-container home-background">
  <div class="container">
    <div class="pt-5 pb-5">
      <div class="row pt-5 pb-5 fade">
        <div class="col-2 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        </div>
        <div class="col-8 col-sm-12 col-md-6 col-lg-6 col-xl-4">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              {{#link-to 'shop.product-list' (query-params parent_category=18 child_category=19)}}
                <div class="home-link-holder pt-2 pb-2 mb-2 text-center bg-light">
                  <img class="home-link-image" src="https://s3.eu-west-2.amazonaws.com/it-shop-travnik/default/desktop.png">
                </div>
              {{/link-to}}
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              {{#link-to 'shop.product-list' (query-params parent_category=11)}}
                <div class="home-link-holder pt-2 pb-2 mb-2 text-center bg-light">
                  <img class="home-link-image" src="https://s3.eu-west-2.amazonaws.com/it-shop-travnik/default/audio.png">
                </div>
              {{/link-to}}
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              {{#link-to 'shop.product-list' (query-params parent_category=18 child_category=27)}}
                <div class="home-link-holder pt-2 pb-2 mb-2 text-center bg-light">
                  <img class="home-link-image" src="https://s3.eu-west-2.amazonaws.com/it-shop-travnik/default/fax.png">
                </div>
              {{/link-to}}
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              {{#link-to 'shop.product-list' (query-params parent_category=11)}}
                <div class="home-link-holder pt-2 pb-2 mb-2 text-center bg-light">
                  <img class="home-link-image" src="https://s3.eu-west-2.amazonaws.com/it-shop-travnik/default/key.png">
                </div>
              {{/link-to}}
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              {{#link-to 'shop.product-list' (query-params parent_category=4)}}
                <div class="home-link-holder pt-2 pb-2 mb-2 text-center bg-light">
                  <img class="home-link-image" src="https://s3.eu-west-2.amazonaws.com/it-shop-travnik/default/laptop.png">
                </div>
              {{/link-to}}
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              {{#link-to 'shop.product-list' (query-params parent_category=7)}}
                <div class="home-link-holder pt-2 pb-2 mb-2 text-center bg-light">
                  <img class="home-link-image" src="https://s3.eu-west-2.amazonaws.com/it-shop-travnik/default/mobile.png">
                </div>
              {{/link-to}}
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              {{#link-to 'shop.product-list' (query-params parent_category=1)}}
                <div class="home-link-holder pt-2 pb-2 mb-2 text-center bg-light">
                  <img class="home-link-image" src="https://s3.eu-west-2.amazonaws.com/it-shop-travnik/default/pc.png">
                </div>
              {{/link-to}}
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              {{#link-to 'shop.product-list' (query-params parent_category=18)}}
                <div class="home-link-holder pt-2 pb-2 mb-2 text-center bg-light">
                  <img class="home-link-image" src="https://s3.eu-west-2.amazonaws.com/it-shop-travnik/default/periferio.png">
                </div>
              {{/link-to}}
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8">
          <h1>Welcome</h1>
          <p>We from the ITShop Team invite you to check our website out. We sell and resell IT equipment, tools, parts and much more!
          We have the best sales in the entire world. Feel free to check out our shop section for equipment, tools, parts and much more!
          We hope you enjoy this experience and hopefully find some nice deals.</p>
          <p>Note. This website is a college project and all information is mock information and should not be taken seriously. Please be advised that all items portrayed `on this website are for educational purposes. More information is located in the About Us section.</p>
          {{#link-to 'about' class="read-more-link"}}
            Read more ...
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
